/* EVERY SINGLE ICON USED IS BROUGHT TO YOU BY BOOTSTRAP'S ICONS - PLEASE SEE THE LICENSE HERE - https://github.com/twbs/icons/blob/main/LICENSE.md */

/* Log Out Icon */
[d="M18 2H7C5.897 2 5 2.898 5 4V11H12.59L10.293 8.708L11.706 7.292L16.414 11.991L11.708 16.706L10.292 15.294L12.582 13H5V20C5 21.103 5.897 22 7 22H18C19.103 22 20 21.103 20 20V4C20 2.898 19.103 2 18 2Z"] {
    d: path("M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z");
    transform: scale(1.5, 1.5);
  }
  
  /* Pinned Message Icon */
  .icon-JRJzJz {
    background-image: url("https://files.catbox.moe/0v95wa.svg") !important;
    transform: scale(1.5, 1.5);
    filter: invert(48%);
  }  